@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen w-full;
}
body {
  background-image: url("https://wallpaper.dog/large/10809044.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navigation-links {
  @apply text-center hover:animate-pulse hover:animate-bounce rounded-full border-black bg-black font-bold text-white transition transform duration-500 ease-in-out hover:bg-white hover:text-black 
    text-[60px] transform transition duration-500 hover:scale-125;
}
.navigation-link {
  @apply text-center hover:animate-pulse hover:animate-bounce rounded-full border-black bg-black font-bold text-white transition transform duration-500 ease-in-out hover:bg-white hover:text-black 
    text-[35px] transform transition duration-500 hover:scale-125;
}
.values {
  @apply font-bold text-white;
}
.div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}
